:root {
  --background-color: #fbfbfb; 
  --text-color: #333; 

  --invbackground-color: #212020; 
    --invtext-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212020; 
    --text-color: #fff;
    --invbackground-color: #fbfbfb; 
    --invtext-color: #333; 
  }
}
body{
  width: 100%;
  margin-left: 0px;
  padding-left: 0%;
  overflow-x: hidden;
  
}
.cent{
  display: flex;
 justify-content: center;
 align-items: center;
}
.social,li {
    display: inline;
  }

.parent {
 background-color: rgb(255, 255, 255);
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
  padding-top: 80px;
  width: 1400px;
  
  }
  .cont1 {grid-area: 1 / 1 / 2 / 2; background-color: rgb(255, 255, 255); height: 550px; width: 600px; display: flex; justify-content: center; padding-top: 40px; }
  .div1 {/* grid-area: 1 / 1 / 2 / 2;*/ background-color: white;margin-left: 0PX; }
  .cont2 { grid-area: 1 / 2 / 2 / 3; margin-right: 100PX; display: flex; justify-content: center; align-items: center; background-color: rgb(255, 255, 255);}
  .map { grid-area: 2 / 1 / 3 / 3; background-color: rgb(255, 255, 255); display: flex; justify-content: center;width: 100%; padding-top: 60PX;height: 500PX;}
  
  .div1 {
    height: 425px;
    width: 430px;
    /*margin-left: 100px;*/
    padding-left: 25px;
    padding-right: 25px;
    
    }
  .msg > h1{
    color: #6fb6a5;
    font-size: 48PX;
  }
  .msg > p{
    margin-top: 10px;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .cont > ul{
    list-style: none;
  }
  .imgi{
    display: flex;
  }
  .cont > li{
    display: grid;
grid-template-columns: 0.2fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;

  }
  .iconText > h2{
    font-size: 20PX;
    margin-left: 0%;
  }
  .iconText > p{
    font-size: 14PX;
    margin-top: -8px;
   
  }
  .imgi{
    width: 40px; height: 40px;
    margin-top: 5px;
  }

  .so > li {
    color: #6fb6a5;
    margin-right: 20px;
    font-size: 20px;
  }
  .so {
    margin-left: -40px;
  }
  .formContainer {
    background-color: #F4F4F4;
    height: 480px;
    width: 700px;
    
    border-radius: 20PX;
    padding: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 36px;
    }
    
    .fn { grid-area: 1 / 1 / 2 / 2; height: 40PX;
      width: 300PX;}
    .ln { grid-area: 1 / 2 / 2 / 3; height: 40PX;
      width: 300PX;}
    .email { grid-area: 2 / 1 / 3 / 2; height: 40PX;
      width: 300PX;}
    .phone { grid-area: 2 / 2 / 3 / 3; height: 40PX;
      width: 300PX;}
    .message { grid-area: 3 / 1 / 4 / 3;height: 40PX }
    .submition { grid-area: 4 / 1 / 5 / 3; height: 28px; }
    label{
      display: block;
      color: #6db6a5;
      font-size: 120%;
      margin-top: 10PX;
    }
    input{
      border: none;
      border-bottom: 1px solid rgb(159, 156, 156);
      ;
      background-color: #F4F4F4;
      border-color:#dfdfdf ;
      width: 100%;
      }
      input:focus {
        outline: none;
      }
      .submition > button{
        margin-top: 10px;
        background: #0C0C0CE5;
        color: white;
        border: none;
        border-radius: 23px;
        padding: 8px 15px 8px 15px;
        width: 136px;
        height: 47px;
        
      }
      #navbar{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
      }
      
      ul{
        list-style: none;
        
      }
      li {
        display: inline;
        
      }
      li > a {
        padding-right: 6%;
        font-size: 18PX;
        color: rgb(0, 0, 0);
      }
      .log{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 30PX;
        width: 100PX;
        height: 35PX;
        border-style: none;
      }
#subsCont{
  margin-top: 50px;
display: flex;
min-width: 100vw;
min-height: 50vh;
}
#suub{
    
  display: flex;
  margin: auto;
}
#fifthContainer{
  background-color: #68B2A0;
  color: #FBFBFB;
  min-height: 80vh;
  min-width: 100vw;
}
#NafesContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}
#pnafes{
  color: #FBFBFB;
  font-size: 14px;
}
#email-input{
  background-color: var(--background-color);
}
#subscribe{
  display: flex;
  flex-direction: column;
  flex:1;
}
.email-subscribe {
  display: flex;
  
  align-items: center;
  margin-top: 15px;
}

.email-subscribe button[type="submit"] {
  width: 80px;
  height: 30px;
  background-color: var(--invbackground-color);
  color: var(--invtext-color);
  border: none;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  margin-left: -90px;
  margin-top: -4px;
  z-index: 1;

}

.email-subscribe input[type="email"] {
  width: 300px;
  height: 45px;
  border-color: transparent;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: -5px;
  position: relative;
  z-index: 0;
}
#bottomcont{
  display: flex;
  
}
#bottom{
  display: flex;
  margin: auto;
  width: 80vw;
}
#contactus{
  flex: 1;
}
#address{
  flex: 1;
}
.social{
  width: 50px;
  height: 50px;
}