body{
    margin: 0;
    min-width: 100vw;
    font-family: "Roboto";
}

#topnav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#topnav a{
   color: #0C0C0C;
   
}


#tophome{
    padding-left:20px ;
    font-family: "DM Sans", sans-serif;
}
#topcontact{
    padding-right: 20px;
    font-family: "DM Sans", sans-serif;
}

#topnav a:hover{
    text-decoration: none;
}

#toplogo{
    filter: invert();
    width: 50px;
    height: 47px;
}
#logoandname{
    display: flex;
}
#toplogotext{
    margin: auto;
    padding-left: 10px;
    font-weight: 600;
    font-size: larger;

}
#topbutton{
    background-color: #0c0c0ce8;
    border-radius: 22px;
    padding-inline: 10px;
    border-color: transparent;
    padding-block: 5px;
    color: #FBFBFB;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
}

#topbutton:hover{
    background-color: #181616e1;
}








#fifthContainer{
    min-height: 80vh;
    min-width: 100vw;
    background-color: #68B2A0;
}
#subsCont{
    margin-top: 50px;
 display: flex;
 min-width: 100vw;
 min-height: 50vh;
}
#suub{
    
    display: flex;
    margin: auto;
}
#hnafes{
    color: #FBFBFB;
    font-weight: 600;
}
#NafesContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#pnafes{
    color: #FBFBFB;
    font-size: 14px;
}
#subscribe{
    display: flex;
    flex-direction: column;
    flex:1;
}
.email-subscribe {
    display: flex;
    
    align-items: center;
    margin-top: 15px;
  }
  
  .email-subscribe button[type="submit"] {
    width: 80px;
    height: 30px;
    background-color: #0C0C0C;
    color: #FBFBFB;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
    margin-left: -90px;
    margin-top: -4px;
    z-index: 1;

  }
  
  .email-subscribe input[type="email"] {
    width: 300px;
    height: 45px;
    border-color: transparent;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: -5px;
    position: relative;
    z-index: 0;
  }
  #bottomcont{
    display: flex;
    
  }
  #bottom{
    display: flex;
    margin: auto;
    width: 80vw;
  }
  #contactus{
    flex: 1;
  }
  #address{
    flex: 1;
  }
  .social{
    width: 50px;
    height: 50px;
  }
  #between{
    min-height: 100vh;
  }


  @media (max-width: 968px) {
    #suub{
        flex-direction: column;
    }
    #bottom{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }