.therapy-options {
    text-align: center;
    margin-top: 50px;
  }
body{
  background-color: #68B2A0;
  background-image: url("/img/back.png");
 font-family: 'ABeeZee';
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 margin: 0;
 

}
  
 
  .navbar {
     background-color: #f0f0f0; 
     border-radius: 15px;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 0;
     color: #23373B;
    height: 12vh;
    box-shadow: #23373B80 4px 4px 4px;
}
 .nav-link {
    color: #fff;
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
background-color: #f0f0f0e4; 
}

.nav-button{

  display: inline-block;
  
  border-radius: 10px;

  background-color: #68B2A0;
  color: #ffffff;

  text-align: center;
  text-decoration: none;
  border-color:  transparent ;
  box-shadow: #23373B 1.5px 1.5px;
  cursor: pointer;
  font-size: 16px;
  text-shadow: black 1.3px 1.3px;
  margin-top: 2px;

}


.nav-button:hover {
  background-color: #5A9A88;
}


.container {
  flex: 1; 
  background-image: url("/img/bck.png");
  background-size: cover;
  background-position: center;
}
.video-container {
  text-align: center;
}

.video-container img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}