:root {
    --background-color: #fbfbfb; 
    --text-color: #333; 
    --image-filter: invert(100%);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #212020; 
      --text-color: #fff;
      --image-filter: none;
    }
  }

body {
    font-family: 'Roboto Serif', serif;
    background-color: #68B2A0;
    font-size: 14PX;
}
#formContainer{

    background-image: url("/img/registerBack.png");
    background-size: 100VW 100VH;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: O%;
    height: 98vh;
    display: flex;
 justify-content: center;
 align-items: center;
}
#square-div{
    
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        max-width: 700px;
        min-height: 550px;
        margin-top: 20PX;
        border:  1px rgb(0, 0, 0, 0.1);
  background-color: #F4F4F4;
  border-radius: 20PX;
  box-shadow: 10PX 10PX 20PX 15px rgba(255, 255, 255, 0.3);
  
}
label{
    display: block;
    color: #6db6a5;
    margin-top: 10PX;
    margin-bottom: 0PX;
}
input{
    border: none;
    border-bottom: 1px solid rgb(159, 156, 156);
    ;
    background-color: #F4F4F4;
    height: 35PX;
    width: 200px;

    }
    .subContainer{
        margin-top: 10px;
        width: 320px;
        height: 76px;
        align-self: center;
        margin-left: 10px;
        padding-left: 20px;}
    
      input:focus {
        outline: none;
      }
      button{
        margin-top: 10px;
        
        color: white;
        border: none;
        border-radius: 23px;
        padding: 8px 15px 8px 15px;
        width: 122px;
        height: 47px;
        
      }

}

label{
    display: block;
    color: #6db6a5;
    font-size: 120%;
  }

@media screen and (max-width: 768px) {
    
    #square-div {
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
        
    }

    #square-div label {
        margin-left: 0; 
    }
    #square-div h2 {
        font-size: 20px ; 
    }

    #square-div input,
    #square-div button,
    #square-div a {
        max-width: 100%;
        margin-bottom: 5px;
        padding: 5px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
